@import 'material-design-lite';

.arrange-right {
  flex-direction: row-reverse;
}

.mdl-grid {
  max-width: 1040px;
}

.inventory-list-item__available--none {
  color: #950b07;
}

.inventory-list-item__available--available {
  color: #079537;
}

.mdl-data-table td.return-right {
  padding: 0 ;

  button {
    cursor: pointer;
    padding: 0 1rem;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: 0;
  }
}

.quick-rent-btn {
  margin: $radio-padding;
}

.info-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
  background: #B3D4FC;

  td {
    text-align: center;
  }
}

.mdl-layout__content {
  margin-bottom: 64px;
}
