<table class="info-footer">
  <tr>
    <td>New Car Types: {{statsTracker.newCarTypes}}</td>
    <td>Cars Checked In: {{statsTracker.carsCheckedIn}}</td>
    <td>Cars Checked Out: {{statsTracker.carsCheckedOut}}</td>
  </tr>
</table>
