{{#simple-form startingValues=model onsubmit="saveCar" as |formValues|}}
  {{mdl-textfield value=formValues.year name="year" class="form-input__year" label="Year"}}
  {{mdl-textfield value=formValues.manufacturer name="manufacturer" class="form-input__manufacturer" label="Manufacturer"}}
  {{mdl-textfield value=formValues.modelName name="modelName" class="form-input__model-name" label="Model Name"}}
  {{mdl-textfield value=formValues.totalInventory name="totalInventory" class="form-input__total-inventory" label="Total Inventory"}}


  <button class="form-submit">Submit</button>
{{/simple-form}}
